@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    /* Black */
    --foreground: 0 0% 3%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    /* Off White */
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    /* Off White */
    --secondary-foreground: 0 0% 100%;

    /* Warm Grey */
    --tertiary-foreground: 240 5% 34%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }

    h2 {
      @apply text-6xl leading-[60px] md:leading-[64px] lg:leading-[68px] xl:leading-[72px] md:text-7xl lg:text-8xl xl:text-9xl font-medium uppercase my-2 lg:my-4;
    }

    /* Off White */
    .sihin {
      background: linear-gradient(to bottom, #2B2F3B, #010012 40%, #010010);
      color: #BFDBC0;
  }
  }
}
